h1 {
		/*Can change*/

		color:black;

		font-size:100px;
		
	}

	}
	
	button{
		/*image*/
	}


	body {
/*Background*/

		color:white;
        font-size:100px;
        font-family: sans-serif;
        text-align: center;
		background-image: url("https://s-media-cache-ak0.pinimg.com/236x/b6/c8/ab/b6c8ab642d20ce6d4aedba10a6d3ddc1.jpg");
		
		background-size: 2090px;

		
		

	}
  p.title {
    color:black;
        font-size:100px;
        font-family: sans-serif;
        text-align: center;
  }
