
	h1 {
		/*Can change*/
		font-size:100px;
		color:#f299ac;
	}

	p{
		color:orange;
        font-size:1000px;
        font-family: sans-serif;
        text-align: center;

	}

	body {
/*Background*/
		background-image: url("http://img00.deviantart.net/ed64/i/2011/157/6/e/kawaii_paper_scissor_rock_by_bojo_bijoux-d3i6nvh.jpg");
		top repeat-y;
		background-size: 1090px;
	}
  p.title {
    color:orange;
        font-size:1000px;
        font-family: sans-serif;
        text-align: center;
  }


